* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("https://i.postimg.cc/25cgcfvg/Portfolio-BG.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-iframe-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-title {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: white;
  margin: 10px 0 0 0;
}

.game-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1000px;
  margin-top: 5px;
}

.fullscreen-btn {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  padding: 8px 8px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 100px;
  background-color: rgb(31, 31, 31);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s ease-in-out;
}

.fullscreen-btn:hover {
  background-color: rgb(25, 25, 25);
}
